{% extends "base.html" %}

{% block head_extra %}
<script type="text/javascript">
function changeLanguage() {
    document.getElementById("languageForm").submit();
}
</script>
{% endblock head_extra %}

{% block title %}{{ title }}{% endblock title %}

{% block topnav %}
  {% for page in page_list %}
    <li>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </li>
  {% endfor %}
{% endblock topnav %}

{% block content %}

<form id="languageForm" action="{{ url }}" method="GET">
<select id="languageSelect" name="languageSelect" onchange="changeLanguage()">
  {% for l in languagelist %}
    {% if l == language %}
      <option value="{{ l }}" selected>{{ l }}
    {% else %}
      <option value="{{ l }}">{{ l }}
    {% endif %}
  {% endfor %}
</select>
</form>






{% autoescape off %}
{{ bodytext }}
{% endautoescape %}
{% endblock content %}
{% block prefoot %}
<p>
  Page last updated: {{ last_updated|date:'D d F Y' }}
</p>
{% endblock prefoot %}


