@charset "utf-8";
#header {
    border-style: none;
    width: 800px;
    height: auto;    
}
#wrapper {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 800px;    
}
body {
    background-color: #E0E0E0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}
#footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #332;
}
#nav li {
    float: left;
}
#nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}
#nav li.dropdown {
    display: inline-block;
}

#nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #332;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#nav .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav .dropdown-content a:hover {background-color: #111}

#nav .dropdown:hover .dropdown-content {
    display: block;
}


#main {
    width: 760px;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
}








