{% load static %}
{% block prehead %}
{% endblock prehead %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>
  {% block title %}
    Untitled Document
  {% endblock title %}
</title>

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'icon/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icon/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'icon/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'icon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff' %}">
<meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">



<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
<!--<link href="{% static 'weathercss/weather-icons.min.css' %}" rel="stylesheet" type="text/css">-->
{% block head_extra %}
{% endblock head_extra %}
</head>
<body>
<div id="wrapper">
  <header id="header">
    <nav id="nav">
    <ul>
    {% block topnav %}
    <li>Menu 1</li><li>Menu2</li><li>Menu3</li>
    {% endblock topnav %}
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Meteorology</a>
      <div class="dropdown-content">
        <a href="/meteorology/">Observations</a>
        <a href="/meteorology/layers/Rainfall">Rainfall Radar</a>
      </div>
    </li>
    <li><a href="/data/">Data Feeds</a></li>
    </ul>
    </nav>
    <div id="topbanner"><img src="{%static 'top_banner.png' %}" width="800" height="200" alt=""/></div>
  </header>
  <section id="main">
    {% block content %}
      <h1>Welcome!</h1>
      <p>This is the site template</p>
    {% endblock content %}
    <hr>
    {% block prefoot %}
    {% endblock prefoot %}
  </section>

  <footer id="footer">Copyright &copy; 2018 Eddy Barratt</footer>
</div>
</body>
</html>
