{% extends "pages/page.html" %}


{% block title %}Wedding{% endblock title %}



{% block content %}

<nav id="nav">
  <ul>
    <li><a href="/wedding/">Wedding</a></li>
    <li><a href="/wedding/acom">Accommodation</a></li>
    <li><a href="/wedding/rsvp">RSVP</a></li>
  </ul>
</nav>



<h1>We're getting married!</h1>

<p>Eddy and Emily are getting married, and we are delighted to invite you to celebrate this day with us! We will be getting married at the city chambers in Edinburgh on Friday the 19th October 2018, and plan to have an evening reception with a Ceilidh and a bit of a boogie at the Surgeons Hall from 18:30 till 1:00. There will be a welcome drinks reception with finger foods, and of course a cake, with a cash bar to sustain us through the night.
<br><br>
If you don’t know what a Ceilidh (pronounced Kaylee) is don’t worry, you do not need to know how to do the dances beforehand as there will be instructions from the band. The main thing is that you bring your dancing shoes and a willingness to try it! The Ceilidh band will play for 3-4 hours, after which we will have a disco. In the true spirit of a Ceilidh we would also like to invite anyone who wants to to take a turn; so if you'd like to help us celebrate by telling a story, singing a song, or performing an interpretive dance/beat poem then let us know and we will try to fit you in. The venue has a projector and a microphone, so feel free to get creative!
<br><br>
The Surgeons Hall is centrally located, with plenty of accommodation nearby (details to follow). The venue will also have a separate cloak room/ quiet children’s room for those of you who wish to deposit your belongings and children in a quiet safe place so you can keep dancing!
<br><br>
We are aware that some of you may not wish to travel long distances just for a wee Ceilidh, but should you wish to combine a trip to beautiful autumnal Scotland with a bit of a party then we would love to see you.
<br><br>
Significant others and children are all invited, and we will send round an official invite by email or post nearer the date. Further details will be included there. For now, please save the date!
</p>
{% endblock content %}
