{% extends "pages/page.html" %}


{% block title %}Wedding{% endblock title %}



{% block content %}

<nav id="nav">
  <ul>
    <li><a href="/wedding/">Wedding</a></li>
    <li><a href="/wedding/acom">Accommodation</a></li>
    <li><a href="/wedding/rsvp">RSVP</a></li>
  </ul>
</nav>

<form action="/wedding/rsvp" method="post">
    {% csrf_token %}
    {{ form1 }}
    {{ form2 }}
    <input type="submit" value="Submit" />
</form>



{% endblock content %}
