{% extends "pages/page.html" %}

{% block prehead %}
  {% load leaflet_tags %}
{% endblock prehead %}

{% block title %}Met Office Observation Locations{% endblock title %}

{% block head_extra %}
  {% leaflet_js %}
  {% leaflet_css %}
  
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
  
  <style>
    .leaflet-container { height: 100%; }
  </style>
  <script type="text/javascript">

  var host = window.location.hostname;
  var lon = {{ longitudes }};
  var lat = {{ latitudes }};
  var name = {{ names|safe }};
  var id = {{ ids|safe }};
  var iconpaths = {{ icons|safe }};
  var icons = [];
  var markers = [];
  function init_map(map, options) {
    for (i=0; i < lat.length; i++) {
    
      icons[i] = L.icon({iconUrl: iconpaths[i],})
    
      markers[i] = L.marker([lat[i], lon[i]], {site_id: id[i], icon: icons[i]});
      markers[i].on('click', onclick) ;
      markers[i].addTo(map);
    }
    map.addControl(new L.Control.Fullscreen());
  }
  
  function onclick(e) {
    window.open(this.options.site_id);
    }

    
    
  </script>
{% endblock head_extra %}


{% block content %}
<h1>Met Office Observation Locations</h1>
<i class="wi wi-night-sleet"></i>
{% leaflet_map "AllLocations" callback="window.init_map" %}
<p>Click on a marker to see the latest observations and forecast for that location.</p>
{% endblock content %}
