{% extends "pages/page.html" %}

{% block prehead %}
  {% load leaflet_tags %}
{% endblock prehead %}

{% block title %}Met Office Rainfall Radar{% endblock title %}

{% block head_extra %}
  {% leaflet_js %}
  {% leaflet_css %}
    
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
  
  <style>
    .leaflet-container { height: 100%; }
  </style>
  <script type="text/javascript">

  var imageUrl = "{{ layerurl }}",
      imageBounds = [[48, -12], [61, 5]];
  function init_map(map, options) {
    L.imageOverlay(imageUrl, imageBounds).addTo(map);
    map.addControl(new L.Control.Fullscreen());
  }
  
    
    
  </script>
{% endblock head_extra %}


{% block content %}
<h1>{{ layerdesc }}</h1>
{% leaflet_map "MapLayer" callback="window.init_map" %}
<form method="get" novalidate>
<table><tr>
<th><button type="submit" value="{{ formdetails.dtlast }}" name='dt' {{ formdetails.dtlastdisable }}><</button></th>
<th><button type="submit" value="{{ formdetails.dtnext }}" name='dt' {{ formdetails.dtnextdisable }}>></button></th>
</tr></table>
</form>
<p>{{ teststr }}</p>

{% endblock content %}
