{% extends "pages/page.html" %}

{% block head_extra %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css">
{% endblock head_extra %}

{% block title %}My Observations{% endblock title %}

{% block content %}
<h1>My Observations</h1>
<!--
<table>
<tr>
<th>id</th><td>{{ site.location_id }}</td>
<th>latitude</th><td>{{ site.latitude }}</td>
<th>longitude</th><td>{{ site.longitude }}</td>
<th>elevation</th><td>{{ site.elevation }}</td>
</tr>
</table>
-->
<h2>Observations</h2>
{{ obs_div|safe }}
{{ obs_script|safe }}

<p>{{ test_str|safe }}</p>
<hr>
{{ content|safe }}

{% endblock content %}
