{% extends "pages/page.html" %}

{% block head_extra %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css">
{% endblock head_extra %}

{% block title %}{{ site.name }}{% endblock title %}

{% block content %}
<h1>{{ site.name }}</h1>
<table>
<tr>
<th>id</th><td>{{ site.location_id }}</td>
<th>latitude</th><td>{{ site.latitude }}</td>
<th>longitude</th><td>{{ site.longitude }}</td>
<th>elevation</th><td>{{ site.elevation }}</td>
</tr>
</table>

<h2>Observation and Forecast</h2>
{{ both_div|safe }}
{{ both_script|safe }}

<h2>Observations</h2>
{{ obs_div|safe }}
{{ obs_script|safe }}

<p>{{ test_str|safe }}</p>
<hr>
{{ content|safe }}

{% endblock content %}
