{% extends "pages/page.html" %}

{% block head_extra %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css">
{% endblock head_extra %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1>{{ title }}</h1>

{{ the_div|safe }}
{{ the_script|safe }}
<hr>
{{ content|safe }}

{% endblock content %}
