{% extends "pages/page.html" %}


{% block title %}Available Data Feeds{% endblock title %}

{% block content %}
<h1>Available Data Feeds</h1>
<ul>

{% for d in data_list %}
  <li>
    <a href="{{ d.permalink }}">{{ d }}</a>
  </li>
{% endfor %}
</ul>


{% endblock content %}
